<Br>
<div class="bd-masthead mb-3" id="content">
    <div class="container px-4 px-md-3">
      <div class="row align-items-lg-center">
        <div class="col-8 mx-auto col-md-4 order-md-2 col-lg-5">
          <img src="../../../../../assets/home_page.jpeg">
        </div>
        <div class="col-md-8 order-md-1 col-lg-7 text-center text-md-start">
          <h1 class="mb-3">Sistemas de Movimentações Manuais</h1>
          <p class="lead mb-4">
            Esta funcionalidade permite ao usuário ver todas as movimentações realizadas, visualizar as que desejar, incluir e excluir.<br>
            Este aplicativo foi projetado em uma WebAPI com uma arquitetura hexagonal, visando conceitos de qualidades como clean Code, SOLID e TDD. 
          </p>
        </div>
      </div>
      <script async src="https://cdn.carbonads.com/carbon.js?serve=CKYIKKJL&placement=getbootstrapcom" id="_carbonads_js"></script>
  
    </div>
  </div>
  